In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
from tqdm import tqdm

In [ ]:
df=[]
query="manchester city"
language=" lang:en"
limit=35000

for tweet in sntwitter.TwitterSearchScraper(query+language).get_items():
    if len(df)==limit:
        break
    df.append(tweet.rawContent)

In [ ]:
query="akbank"
language=" lang:en"
limit=35000
for tweet in sntwitter.TwitterSearchScraper(query+language).get_items():
    if len(df)==limit:
        break
    df.append(tweet.rawContent)

In [ ]:
len(df)

In [ ]:
x=pd.DataFrame(data=df)

In [ ]:
x.to_csv("veri.csv")